@model Hamburger

<div class="col-sm-4 col-md-4 col-lg-4">
    <p>
        <img src="@Model.ImageURL" class="img-fluid" />
    </p>
    <h4>
        @Model.HamburgerName
    </h4>

    <h3>
        Price: @Model.Price.ToString("C")
    </h3>

    <p>@Model.ShortDescription</p>
</div>