@model HamburgerListViewModel

@{
    ViewData["Title"] = "Burger List";
}

<div>

    <h2>@ViewData["PageTitle"]</h2>
    <hr/>
    <h8>
        @ViewBag.TotalTitle @ViewBag.TotalBurgers
    </h8>
    <hr/>

</div>

<div class="container">
    <div class="row">
        @foreach (var burger in Model.Hamburgers) {

            <partial name="_HamburgerResume" for="@burger"/>

        }
    </div>
</div>